*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forgetcenter{
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%,-50%);
 
}

.forgetfo{
    width: 340px;
    height: 50px;
    padding-left: 40px;
    background-color: rgb(245, 245, 245);
    
}
.iconsm{
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 7px;
    margin-top: 15px;
}


.t{
    margin-left:20%;
    margin-top: 3%;
    text-decoration: none;
    background-color: blueviolet;
    width: 20%;
    height: 35px;
    color: white;
    border-radius: 6px;
    outline: none;
}
h1,h2,h3,h4{
    color: #95969e;
}