

.singupcenter{
    position: absolute;
    top: 48%;
    left: 47%;
    transform: translate(-50%,-50%);
}
.p{
    width: 80px;
    height: 80px;
    margin-right: 50px;
}
.contain{
    margin-left:15%;
    margin-top: 15%;
}
.singupfo{
    margin-top: 20px;
    width: 230px;
    height: 55px;
    padding-left: 30px;
    background-color: rgb(245, 245, 245);
}
.mai{
    width: 30%;
    height: 36px;
    max-width: 50%;
    background-color: rgb(238, 238, 238);
    outline: none;
    border-radius: 8px;
    padding-left: 30px;
    font-size: 20px;
    border-color: white;
    margin-left: 60px;
}
.tb{
    margin-left: 21%;
    text-decoration: none;
    background-color: blueviolet;
    width: 20%;
    height: 39px;
    color: white;
    border-radius: 6px;
    outline: none;
    margin-left: 8%
}


.ime{
    width: 17px;
    height: 17px;
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
    color: rgb(168, 50, 50);
    
    
}
.singupbutton{
    text-decoration: none;
    background-color: blueviolet;
    width: 106%;
    height: 50px;
    color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-top: 19px;
    
 
}
.sahi{
    text-align: center;
    margin-top: 10px;
}
