.ver{
    width: 20px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    outline: none;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    
}
.olc{
    color: blue;
    text-decoration: none;
}
.o{
    margin-left: 5%;
    text-decoration: none;
    background-color: rgb(240, 240, 240);
    width: 20%;
    height: 35px;
    color: white;
    border-radius: 6px;
    outline: none;
    color: black;
}