/* .verinp{
width: 34px;  
height: 40px;
margin: 1px;

}
.xray{
   position: absolute;
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.po{
   margin-bottom: 20px;
}
.dont{
   margin-top: 20px;

}
.con{
   
   padding: 15px;
      border-radius: 14px;
      background-color: blueviolet;
      color: white;
      outline: none;
      border: none;
}
   */

   .height-100 {
      height: 100vh
  }
  
 
  
  .card h6 {
      color: red;
      font-size: 20px
  }
  
  .inputs input {
      width: 40px;
      height: 40px
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0
  }

  .card-2 .content {
      margin-top: 50px
  }
  
  .card-2 .content a {
      color:blueviolet
  }
  
  
  
  
  .card{
     border: none;
  }
  .con{
   text-align: center;
height: 50px;
      border-radius: 14px;
      background-color: blueviolet;
      color: white;
      outline: none;
      border: none;
      
}

