
   
 .ma{
  width: 78%;
  margin-left: 16%;
  margin-top: 20px;
    
 }
 .on{
     width: 300px;
     margin-top: 9px;
     height: 50px;
     background-color: rgb(242, 242, 242);
 }

  .form-control:focus {
  box-shadow: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  
  }
  .left{
    margin: 10%;
  }
  .button{
      padding: 16px;
      border-radius: 14px;
      background-color: blueviolet;
      color: white;
      outline: none;
      border: none;
      margin-top: 22px;
      width: 150px;
  }
  
  #floatingTextarea2{
    margin-top: 15px;
    height: 200px;
    width: 300px;
    background-color: rgb(242, 242, 242);
  }
  .form-select:focus{
    box-shadow: none;
  outline: none;
  background-color: white;
  }
  h1{
    color:rgb(143, 142, 142) ;
  }
  .locmaod{
    margin-left: 10px;
    font-size: 20px;
  }
 .motowidth{
  margin-top: 150px;
    height: 500px;
   border-radius: 50px;
 }
 .mwid{
  width: 300px;
  
 }
 .kal{
   
   margin-left:34%;
margin-bottom: 10px;
   width: 30%;
   
   padding: 14px;
   border-radius: 14px;
   background-color: blueviolet;
   color: white;
   outline: none;
   border: none;
 }
 .macbook{
   margin-top: 50px;
 }
